<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container">
    <div class="row my-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="row mb-5 d-flex align-items-center">
                <div class="col-md-3 col-xs-12 ">
                    <figure class="figure my-1">
                        <img src="./assets/img/WhatsApp Image 2024-02-01 at 19.30.26.jpeg" style="width: 150px;" class="figure-img img-fluid imagen-redondeada" alt="">
                        <!--data source-->
                        <figcaption class="figure-caption none">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                    </figure>
                </div>
                <div class="col-md-9 col-xs-12">
                    <h1 class="fs-3">Matias Arevalo</h1>
                    <p class="">Soy desarrollador full stack web Jr, Me gusta crear productos accesibles para todos. Pensado a la persona como centro de nuestras propuestas, abarcando un gran espectro de la misma.</p>
                    <a href="/aboutme">Saber más sobre mí</a>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
            <div class="col-12">
                <figure class="figure my-1">
                    <img src="https://miro.medium.com/v2/resize:fit:700/1*z_5sz44FOBGUwhQqplFotw.jpeg" class="figure-img img-fluid" alt="">
                    <!--data source-->
                    <figcaption class="figure-caption none">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                </figure>
                <a href="/article"><h1 class="fs-3">Axel Kicillof cruzó a Javier Milei por la quita del Fondo y apoyó a Ignacio Torres: “Si uno se pone a fantasear, yo también puedo cerrar los accesos y los puertos”</h1></a>
                <p class="merriweather-regular">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo hic enim praesentium incidunt minus nostrum natus velit sed eius voluptatem accusamus maiores, sint reprehenderit rerum inventore dignissimos quibusdam explicabo aspernatur.</p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-12">        
                <figure class="figure my-1">
                    <img src="https://miro.medium.com/v2/resize:fit:700/1*z_5sz44FOBGUwhQqplFotw.jpeg" class="figure-img img-fluid" alt="">
                    <!--data source-->
                    <figcaption class="figure-caption none">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                </figure>
                <h2 class="fs-3">Axel Kicillof cruzó a Javier Milei por la quita del Fondo y apoyó a Ignacio Torres: “Si uno se pone a fantasear, yo también puedo cerrar los accesos y los puertos”</h2>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-6">
                <h4 class="fs-6">Axel Kicillof cruzó a Javier Milei por la quita del Fondo y apoyó a Ignacio Torres: “Si uno se pone a fantasear, yo también puedo cerrar los accesos y los puertos” </h4>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img src="https://miro.medium.com/v2/resize:fit:700/1*z_5sz44FOBGUwhQqplFotw.jpeg" class="figure-img img-fluid" alt="">
                    <!--data source-->
                    <figcaption class="figure-caption none">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                </figure>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="fs-6">Axel Kicillof cruzó a Javier Milei por la quita del Fondo y apoyó a Ignacio Torres: “Si uno se pone a fantasear, yo también puedo cerrar los accesos y los puertos” </h4>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img src="https://miro.medium.com/v2/resize:fit:700/1*z_5sz44FOBGUwhQqplFotw.jpeg" class="figure-img img-fluid" alt="">
                    <!--data source-->
                    <figcaption class="figure-caption none">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                </figure>
            </div>
            <hr>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>