<nav class="col-md-1 d-none d-md-block bg-light sidebar ">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/createpost" class="nav-link">Nueva entrada</a>
        </li>
        <li class="nav-item">
            <a href="/articlespanel" class="nav-link">Entradas</a>
        </li>
        <li class="nav-item">
            <a href="/users" class="nav-link">Usuarios</a>
        </li>
        
        
    </ul>
</nav>